venv/*
app/__pychache__/
app/__pychache__/*
venv/
app/routers/__pychache__/
app/routers/__pychache__/*
*.pyc
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
